* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
min-width: 35rem;
background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/topography.png);
overflow: scroll;
}

h1, h2, h3, dt {
  font-family: 'Hanuman', serif;
} 

header {
  background-color: #333333;
  width: 100%;
  height: 3.5rem;
}

dd, p, li {
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bolder;
}

#logo {
  display: inline;
  width: auto;
  height: 3.5rem;
}

a img {
  width: auto;
  height: 2.5rem;
  margin: 0.5rem 0 0.5rem 3rem;
}

ul {
display: inline;
list-style-type: none;
float: right;
margin-right: 3rem;
}

li {
  display: inline;
  color: #ff0099;
}

li a {
  display: inline-block;
  padding: 1rem;
}

li a:visited, li a:link {
   color: #ff0099;
}

section {
  max-width: 60rem;
  width: 80%;
  margin: 1rem auto;
  text-align: justify;
}

h1 {
  color: #333333;
  font-size: 3.5rem;
  text-align: left;
}

h3 {
  color: #ff0099;
  font-size: 1.8rem;
  text-align: left;
  font-weight: normal;
} 

hr {
  height: 2px;
  overflow: hidden;
  border-top: 2rem dashed #333333;
  width: 5rem;
  margin: 4rem auto;
}

h2 {
  color: #333333;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

main {
  max-width: 60rem;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  color: black;
}


dt {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5rem;
  margin-top: 1rem;
}

dd {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}




